            #pogrubienie_racewicz {
                font-size: 34px;
                color: #140882;
            }
            
            #pochylona_racewicz {
                font-size: 39pt;
                color: #250188;
            }
            
            #index_gorny_racewicz {
                font-size: 5.4cm;
                color: #170138;
            }
            
            #index_dolny_racewicz {
                font-size: 6.3cm;
                color: rgb(70, 238, 111);
            }
            
            #mono_racewicz {
                font-size: 44px;
                color: #422131;
            }
            
            #powiekszenie_racewicz {
                color: #0f0581;
            }
            
            #pomniejszenie_racewicz {
                color: rgb(200, 1658, 61);
            }